.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal__backdrop {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__window {
  position: fixed;
  z-index: 3;
  width: 38rem;
  margin: auto;
  height: 80%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  border-radius: 0.3rem;
  border: 1px solid gray;
  overflow-y: auto;
}

.modal__content {
  padding: 2rem;
  text-align: center;
}